  <!--/ footer Star /-->
  <section class="section-footer" id="footer-js">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Cooperativa Madre y Maestra</h3>
            </div>
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="wow fadeInRight item-list-a" data-wow-delay="0.8" data-wow-duration="0.5s">
                    <i class="fa fa-angle-right"></i> <a routerLink='/cooperativa'>Nuestra Cooperativa</a>
                </li>
                <li class="wow fadeInRight item-list-a" data-wow-delay="1.0" data-wow-duration="0.7s">
                  <i class="fa fa-angle-right"></i> <a routerLink='/organizacion'>Organización</a>
                </li>
                <li class="wow fadeInRight item-list-a" data-wow-delay="1.2" data-wow-duration="0.9s">
                  <i class="fa fa-angle-right"></i> <a routerLink='/canales/oficinas-sucursales'>Agencias y Sucursales</a>
                </li>
                <li class="wow fadeInRight item-list-a" data-wow-delay="1.4" data-wow-duration="1.1s">
                  <i class="fa fa-angle-right"></i> <a routerLink="/educacion" target="_blank">Educación Financiera</a>
                </li>
                <li class="wow fadeInRight item-list-a" data-wow-delay="1.6" data-wow-duration="1.3s">
                  <i class="fa fa-angle-right"></i> <a href="#">Trabaja con Nosotros</a>
                </li>
                <li class="wow fadeInRight item-list-a" data-wow-delay="1.8" data-wow-duration="1.5s">
                  <i class="fa fa-angle-right"></i> <a routerLink="/licitaciones">Licitaciones</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Información Financiera</h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  <li class="wow fadeInRight item-list-a" data-wow-delay="1.0" data-wow-duration="0.7s">
                    <i class="fa fa-angle-right"></i> <a routerLink="/eeff">Estados Financieros</a>
                  </li>
                  <li class="wow fadeInRight item-list-a" data-wow-delay="1.2" data-wow-duration="0.9s">
                    <i class="fa fa-angle-right"></i> <a routerLink="/memorias">Memoria Anual</a>
                  </li>
                  <li class="wow fadeInRight item-list-a" data-wow-delay="1.4" data-wow-duration="1.1s">
                    <i class="fa fa-angle-right"></i> <a routerLink="/memoriarse">Memoria RSE</a>
                  </li>
                  <li class="wow fadeInRight item-list-a" data-wow-delay="1.6" data-wow-duration="1.3s">
                    <i class="fa fa-angle-right"></i> <a routerLink="/informerse">Informe RSE</a>
                  </li>
                  <li class="wow fadeInRight item-list-a" data-wow-delay="1.8" data-wow-duration="1.5s">
                    <i class="fa fa-angle-right"></i> <a href="/assets/files/tarifario/tarifario.pdf" target="_blank">Tarifario</a>
                  </li>
                  <li class="wow fadeInRight item-list-a" data-wow-delay="1.8" data-wow-duration="1.5s">
                    <i class="fa fa-angle-right"></i> <a href="/assets/files/tarifario/tarifario.pdf" target="_blank">Política de privacidad</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Para nuestros Clientes</h3>
            </div>
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="wow fadeInRight item-list-a" data-wow-delay="1.2" data-wow-duration="0.9s">
                  <i class="fa fa-angle-right"></i> <a routerLink='/canales/contacto'>Atencion al Cliente</a>
                </li>
                <li class="wow fadeInRight item-list-a" data-wow-delay="1.4" data-wow-duration="1.1s">
                  <i class="fa fa-angle-right"></i> <a routerLink="/preguntasFrecuentes">Preguntas Frecuentes</a>
                </li>
                <li class="wow fadeInRight item-list-a" data-wow-delay="1.6" data-wow-duration="1.3s">
                  <i class="fa fa-angle-right"></i> <a routerLink="/calculadora/credito">Calculadora de Cuotas</a>
                </li>
                <li class="wow fadeInRight item-list-a" data-wow-delay="1.8" data-wow-duration="1.5s">
                  <i class="fa fa-angle-right"></i> <a routerLink="/puntoReclamo">Punto de Reclamo</a>
                </li>
                <li class="wow fadeInRight item-list-a" data-wow-delay="2.0" data-wow-duration="1.7s">
                  <i class="fa fa-angle-right"></i> <a routerLink="/noticias">Noticias</a>
                </li>                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="socials-foot-a" href="https://m.me/coopmadreymaestra?fbclid=IwAR1zML_5CVPeo627LdXhzHEy8KeW1fgT9t3hZlKCYJ-iwzDLQ0_Luo4_qmE" target="_blank">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="socials-foot-a" href="https://wa.me/59161874235" target="_blank">
                  <i class="fa fa-whatsapp" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Todos los derechos reservados 2019 -
              <span class="color-a"> Cooperativa de Ahorro y Crédito Abierta Madre y Maestra R.L. </span> <br>
              Entidad supervisada por ASFI.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->