<div class="container">
 
    <div class="starter-template">

      <div class="row">      	

        <div class="col-md-8 lg-6 mt-5">

          <h2>{{ titulo }} </h2>
          <h3>Comunicate con nosotros</h3>
          <h4>Telefonos</h4>
          <h4>Redes Sociales</h4>

          <h3>Envianos un mensaje</h3>
    
        <form [formGroup]="contacto" (ngSubmit)="onSubmit()">
              <div class="form-group">
                      
                      <input type="text" formControlName="nya" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nya.errors }" placeholder="Nombres y Apellidos" />
                      <div *ngIf="submitted && f.nya.errors" class="invalid-feedback">
                          <div *ngIf="f.nya.errors.required">Por favor, ingresa tus Nombres y Apellidos</div>
                      </div>
                  </div>                    
                  <div class="form-group">
                      
                      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Correo electrónico"/>
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">El email es obligatorio</div>
                          <div *ngIf="f.email.errors.email">Por favor, ingresa tu Email</div>
                      </div>
                  </div>
                  <div class="form-group">
                      
                      <input type="text" formControlName="asunto" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.asunto.errors }" placeholder="Asunto"/>
                      <div *ngIf="submitted && f.asunto.errors" class="invalid-feedback">
                          <div *ngIf="f.asunto.errors.required">Por favor, ingresa el Asunto</div>
                      </div>
                  </div>
                  <!--<div class="form-group">
                      <label for="postre"> Postre</label>
                      <select class="form-control" formControlName="postre" [ngClass]="{ 'is-invalid': submitted && f.postre.errors }">
                        <option value="">Seleccionar</option>
                        <option value="Crema Volteada">Crema Volteada</option>
                      <option value="Gelatina de Fresa">Gelatina de Fresa</option>
                        <option value="Keke de Naranja">Keke de Naranja</option>
                      <option value="Pie de Manzana">Pie de Manzana</option>
                        <option value="Torta de Chocolate">Torta de Chocolate</option>				      
                        
                      </select>
                      <div *ngIf="submitted && f.postre.errors" class="invalid-feedback">
                          <div *ngIf="f.postre.errors.required">Por favor, Selecciona el Postre</div>
                      </div> 
                  </div>-->
                  <div class="form-group">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" formControlName="mensaje" rows="5" [ngClass]="{ 'is-invalid': submitted && f.mensaje.errors }" placeholder="Escriba minimo 20 caractéres"></textarea>
                    <div *ngIf="submitted && f.mensaje.errors" class="invalid-feedback">
                        <div *ngIf="f.mensaje.errors.required">Por favor, ingresa el Mensaje ( 10 Caracteres mínimo )</div>
                    </div>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-primary">Aceptar</button>
                  </div>
   
              </form>

      </div>


  </div>

   </div>

</div>