<!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
        <div class="container-fluid">
          <div class="section-header">
            <!--<h3 class="section-title">Conózcanos </h3>
            <span class="section-divider"></span>-->
            <br>
            <p class="section-description">
              Pioneros en el sur de Bolívia, más de 50 años forjando su desarrollo
            </p>
          </div>
  
          <div class="row">
            <div class="col-lg-6 about-img wow fadeInLeft">
              <img src="assets/img01/about/oficina01.jpg" alt="">
            </div>
  
            <div class="col-lg-6 content wow fadeInRight">

              <h3>La Cooperativa de Ahorro y Crédito Abierta "Madre y Maestra" R.L. es una Sociedad de Responsabilidad Limitada, fue fundada el 11 de octubre de 1964 por el Rvdo. Padre Salvatore Bartolomé Attard Grima, bajo un enfoque de servicio a la sociedad.  </h3>

              <div class="row about-cols">
                <div class="col-md-12 col-lg-12 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="about-box">
                      <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                      <h4 class="title"><a class="title" routerLink="cooperativa/">Nuestra Cooperatíva</a></h4>
                      <p class="description">Historia, misión visión y valores.</p>
                  </div>
                  </div>
                  <div class="col-md-12 col-lg-12 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="about-box">
                      <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
                      <h4 class="title"><a class="title" routerLink="organizacion/">Organización</a></h4>
                      <p class="description">Asamblea, administración y Comités.</p>
                  </div>
                  </div>
                  <div class="col-md-12 col-lg-12 wow bounceInUp" data-wow-duration="1.4s">
                      <div class="about-box">
                        <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
                        <h4 class="title"><a class="title" href="memorias/">Información Institucional</a></h4>
                        <p class="description">Memoria anual, estados financieros y coeficiente de adecuación patrimonial.</p>
                    </div>
                    </div>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- #about -->