/*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  /* Sections Header
  --------------------------------*/
  /* About Us Section
  --------------------------------*/
  #about {
    padding: 60px 0;
    overflow: hidden;
  }
  
  #about .about-img {
    height: 510px;
    overflow: hidden;
  }
  
  #about .about-img img {
    margin-left: -15px;
    max-width: 100%;
  }
  
  @media (max-width: 768px) {
    #about .about-img {
      height: auto;
    }
    #about .about-img img {
      margin-left: 0;
      padding-bottom: 30px;
    }
  }
  
  #about .content .h2 {
    color: #333;
    font-weight: 300;
    font-size: 24px;
  }
  
  #about .content h3 {
    color: #777;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
  }
  
  #about .content p {
    line-height: 26px;
  }
  
  #about .content p:last-child {
    margin-bottom: 0;
  }
  
  #about .content i {
    font-size: 20px;
    padding-right: 4px;
    color: #1dc8cd;
  }
  
  #about .content ul {
    list-style: none;
    padding: 0;
  }
  
  #about .content ul li {
    padding-bottom: 10px;
  }

/* About Us Section Mision Vision
--------------------------------*/


/*#about::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}*/

#about .container {
  position: relative;
  z-index: 10;
}

#about .about-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

#about .about-col .img {
  position: relative;
}

#about .about-col .img img {
  border-radius: 4px 4px 0 0;
}

#about .about-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #18d26e;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

#about .about-col i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#about .about-col:hover .icon {
  background-color: #fff;
}

#about .about-col:hover i {
  color: #18d26e;
}

#about .about-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

#about .about-col h2 a {
  color: #ffda2e;;
}

#about .about-col h2 a:hover {
  color: #18d26e;
}

#about .about-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}
/* end mision vision*/

/*botones mas sobre la cooperativa*/
.about-box {
  padding: 15px;
  position: relative;
  overflow: hidden;
  border-radius: 30px 0px 30px 0px;
  margin: 0 10px 20px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}


.about-box:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  background: #26b460;
  color: #ffffff;
}
#about .icon {
  position: absolute;
  left: -10px;
  top: calc(50% - 32px);
}

#about .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

#about .title {
  margin-left: 25px;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #ffda2e;
}
#about .title:hover{
  color: #38c172;
}

#about .description {
  font-size: 14px;
  margin-left: 25px;
  line-height: 24px;
  margin-bottom: 0;
}