<core-navbar></core-navbar>

 <div style="margin-top:50px">
 <br> <br><br><br><br> <br>

 <h2 class="text-center">{{ title }}</h2>
<div class="container">
  <div>
    <h3>¿Qué información se recopila?</h3>
    <p class="parrafo-politica">
      Al utilizar nuestro Servicio, en caso de error en la aplicación, recopilamos datos e información, llamados Datos de registro. Este registro de datos puede incluir información como la dirección del protocolo de Internet («IP»), el nombre del dispositivo, la versión del sistema operativo, la configuración de la aplicación al utilizar nuestro servicio, la hora y la fecha de uso del servicio y otras estadísticas. Al registrarse en el sistema se solicitarán los datos personales necesarios para la solicitud de nuestro servicio.
    </p>
  </div>
  <div>
    <h3>¿Cómo se utiliza la información?</h3>
    <p class="parrafo-politica">
      La la información solicitada se utilizará con el único fin de mejorar nuestro servicio. Los datos personales recabados en el aplicativo se utilizarán con la finalidad de proporcionar el servicio solicitado.
    </p>
    <p class="parrafo-politica">
      La Cooperativa está altamente comprometido para cumplir con el compromiso de mantener su información segura. Aplicamos nuestro esfuerzo más diligente, Tratamos de usar los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado.
    </p>
    <p class="parrafo-politica">
      El canal de transmisión de información entre Usted y la institución utiliza el protocolo de comunicación SSL (Secure Sockets Layer) basado tecnología de encriptación. Este ambiente seguro, ayuda a proteger la confidencialidad de sus datos cuando realice operaciones online en nuestro sitio.
    </p>
  </div>
  <div>
    <h3>Encriptación de Datos</h3>
    <p class="parrafo-politica">
      La encriptación de datos, es un mecanismo por el cual, la información intercambiada entre el cliente y la Entidad se transforma en una codificación ilegible, con una secuencia de  caracteres de lenguaje particular, que esconden el significado real de la información.
    </p>
  </div>
  <div>
    <h3>Información de contactos de los usuarios</h3>
    <p class="parrafo-politica">
      La información de contactos del dispositivo del usuario únicamente se utiliza para mejorar las funcionalidades en las cuales el usuario debe ingresar un número de un dispositivo móvil. Estas funcionalidades permiten el acceso rápido a los contactos para poder realizar pagos y transferencias de forma amigable y eficiente.
    </p>
    <p class="parrafo-politica">
      Esta información no será compartida con ningún otro usuario/socio de la institución ni almacenada en ningún lugar para su posterior uso.
    </p>
  </div>
  

</div>
