<!--/ Nav Star /-->
<nav class="animated bounceInUp slow navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="/">
        <div class="nav-icon-img">
            <img src="/photos/1/generales/logo/logo_menu.svg" alt="Principal" height="160" width="455">
        </div>
      </a>
      <a class="navbar-brand js-scroll nav-icon-txt" href="/">
        <div>
          <div>Cooperativa de Ahorro y Crédito Abierta</div>
          <div class="nav-icon-text-sub">Madre y Maestra R.L.</div>
        </div>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link js-scroll " routerLink='/'>Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll " routerLink='/productos'>Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll " routerLink='/servicios'>Servicios</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" href="./#/cooperativa">Nuestra Cooperativa</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink='/cooperativa'>Cooperativa Madre y Maestra</a>
                <a class="dropdown-item" routerLink='/organizacion'>Organización</a>
                <a class="dropdown-item" routerLink='/canales/oficinas-sucursales'>Agencias y Sucursales</a>
                <a class="dropdown-item" routerLink="/educacion" target="_blank">Educación Financiera</a>
                <a class="dropdown-item" routerLink="/trabajanosotros">Trabaja con Nosotros</a>
                <a class="dropdown-item" routerLink="/licitaciones">Licitaciónes</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" href="./#/organizacion">Institucional</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/institucional">Información Financiera</a>
                <a class="dropdown-item" routerLink="/rse">Responsabilidad Social Empresarial</a>
                <a class="dropdown-item" routerLink="/uif">U.I.F.</a>
                <a class="dropdown-item" href="/assets/files/tarifario/tarifario.pdf">Tarifario</a>
            </div>
          </li>
          <li class="nav-item nav-item-mobile">
              <a class="nav-link js-scroll" routerLink="/puntoReclamo">Punto de Reclamo</a>
            </li>
            <li class="nav-item nav-item-mobile">
                <a class="nav-link js-scroll" routerLink="/calculadora/ahorro">Simulador de Ahorro</a>
            </li>
            <li class="nav-item nav-item-mobile">
                <a class="nav-link js-scroll" routerLink="/calculadora/credito">Simulador de Crédito</a>
            </li>
        </ul>
      </div>
      <div class="col-12 col-md-3 div-img-digital">
        <a href="https://digital.madreymaestra.com" target="_blank">
          <img  class="img-digital" src="/photos/1/generales/logo/digitalmym.svg" alt="Principal" height="70" width="163">
        </a>
        <!-- <a href="https://encuesta2022.asfi.gob.bo/" target="_blank">
          <img  class="img-digital" src="/photos/1/generales/logo/logo_ENSF_2022-01.svg" alt="Principal" height="80" width="80">
        </a> -->
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->
