<app-menu></app-menu>
<br><br><br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <h3>¿Qué es el punto de reclamo?</h3>
      <p>Es un servicio gratuito disponible en todas las Entidades Financieras con licencia de funcionamiento, la cual se encuentra controlado y regulado por la Autoridad de Supervisión del Sistema Financiero (ASFI).</p>
      <h3>Procedimiento:</h3>
      <ol>
        <li value="1">Presentar su reclamo como primera instancia en oficina central o en cualquiera de nuestras agencias.</li>
        <li>Como constancia del registro de su reclamo, recibirá el formulario de reclamo, asignándole un número único de reclamo.</li>
        <li>El tiempo de respuesta a su reclamo, es de 5 días hábiles, en caso de requerir un plazo mayor se le comunicará oportunamente.</li>
        <li>Al recibir la respuesta, si está en desacuerdo con la misma, puede acudir en segunda instancia a la Defensoría de la Autoridad de Supervisión del Sistema Financiero (ASFI), que se encuentra disponible en todas sus oficinas.</li>
        <li>El consumidor Financiero, también puede ingresar su reclamo en los centros de consulta de ASFI en los nueve (9) departamentos o mediante la aplicación para celular "ASFI MÓVIL".</li>
      </ol>
    </div>
    <div class="col-12 col-md-4">
      <img src="./photos/1/generales/puntoreclamo/punto.png" class="imagen-punto-reclamo">
    </div>

  </div>
  <div class="row">
    <div class="col-12">
        <h3>También puede registrar su reclamo en el siguiente formulario:</h3>

    </div>
  </div>
</div>
<iframe [src]="urlPunto" width="100%" height="800" frameborder="0" webkitallowfullscreen mozallowfullscreen
          allowfullscreen>
        </iframe>
