<app-cooperativa-menu [menu]='menu' (elemento)='scroll($event)'>

</app-cooperativa-menu>
<br><br><br><br><br>
<!--==========================
      About Us Section
    ============================-->
    <section id="cooperativa">
      <div class="container">

        <header class="section-header">
          <h2>¿Quiénes Somos?</h2>
          <p>La Cooperativa de Ahorro y Crédito Abierta "Madre y Maestra" R.L. es una Sociedad de Responsabilidad Limitada, fue fundada el 11 de octubre de 1964 por el Rvdo. Padre Salvatore Bartolomé Attard Grima, bajo un enfoque de servicio a la sociedad.</p>
        </header>
        
        <div #historia id="historia" class="row about-extra">
            
          <div class="col-lg-6 wow fadeInUp">
              <br><br><br>
            <img src="assets/img01/about/historia.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
              <br><br><br>
            <h2>Reseña Histórica.</h2>
            <p>
              La Cooperativa Madre y Maestra R.L. fue fundada por el Rvdo. Padre Salvatore Bartolomé Attard Grima un 11 de octubre de 1964 constituyéndose como Cooperativa de Ahorro y Crédito.
            </p>
            <p>
              Posteriormente con la finalidad de ampliar los servicios al asociado se constituyó en Cooperativa Multiactiva encarando obras de gran impacto social como la creación, y construcción de viviendas en diferentes barrios de la ciudad de Tarija, alcanzando notoriedad nacional e internacional por sus obras sociales, aperturando además la sección consumo con la que se daba la oportunidad al asociado de adquirir bienes y equipos para el hogar a grandes facilidades de pago.
            </p>
            <p>
              A partir del año 1979 con la enfermedad y posterior fallecimiento de su fundador la Cooperativa vivió momentos de zozobra, incrementados por la aguda crisis económica de la década de 1980, etapa que duró hasta el inicio del año 1990.
            </p>
            <p>
              A partir de la década de los 90 la Cooperativa inicia un repunte institucional y económico sostenido logrando recuperar el sitial que le corresponde como la Cooperativa pionera en la ciudad de Tarija. Obtiene su Licencia de Funcionamiento como Cooperativa de Ahorro y Crédito Abierta de la Superintendencia de Bancos y Entidades Financieras (hoy ASFI) un 23 de diciembre de 2008 consolidándose desde esa fecha como una Cooperativa líder en el Departamento de Tarija.
            </p>
          </div>
        </div>
        <div #mision id="mision" class="row about-container">

            <div class="col-md-2 content order-md-1 order-1">
                <div class="icon-box wow fadeInUp">
                  <img src="assets/img01/about/mision.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-10 background order-md-2 order-2 wow fadeInUp">
              <div class="icon-box wow fadeInUp">
                <h2>Misión</h2>
                <p class="description">Contribuir a mejorar la calidad de vida del socio y cliente, brindando productos y servicios financieros con calidad y calidez, manteniendo una cultura organizacional orientada hacia una gestión socialmente responsable.</p>
              </div>
            </div>
        </div>
        <div #vision id="vision" class="row about-container">

            <div class="col-md-2 content order-md-2 order-1" >
                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                  <img src="assets/img01/about/vision.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-10 background order-md-1 order-2 wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon-box wow fadeInUp">
                <h2 >Visión</h2>
                <p class="description">Ser una institución sólida, solvente, socialmente responsable y un excelente lugar para trabajar, que nos permita participar y contribuir de forma significativa al desarrollo de nuestra sociedad.</p>
              </div>
            </div>
        </div>
        <div #valores id="valores" class="row about-container">

            <div class="col-md-2 content order-md-1 order-1" >
                <div class="icon-box wow fadeInUp" data-wow-delay="0.8s">
                  <img src="assets/img01/about/valor01.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-10 background order-md-2 order-2 wow fadeInUp" data-wow-delay="0.8s">
              <div class="icon-box wow fadeInUp">
                <h2 >Valores</h2>
                <div class="description wow fadeInRight">
                  <div class="content">
                    <div class="row">
                      <!-- <div class="valores col-12 col-md-6 col-xl-3" style="text-align: center" >                          
                          <p class="wow fadeInRight" data-wow-duration="0.6s">
                            <i class="fa fa-refresh wow fadeInRight" data-wow-duration="0.5s"></i>
                            Reciprocidad.
                          </p>
                      </div> -->
                      <div class="valores col-12 col-md-6 col-xl-3" style="text-align: center" >                          
                          <p class="wow fadeInRight" data-wow-delay="0.8s" data-wow-duration="0.5s">
                            <i class="fa fa-heart-o wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s"></i>
                            Solidaridad.
                          </p>
                      </div>
                      <!-- <div class="valores col-12 col-md-6 col-xl-3" style="text-align: center" >                          
                          <p class="wow fadeInRight" data-wow-delay="1.0s" data-wow-duration="0.5s">
                              <i class="fa fa-handshake-o wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                              Honestidad.
                          </p>
                      </div> -->
                      <div class="valores col-12 col-md-6 col-xl-3" style="text-align: center" >
                          <p class="wow fadeInRight" data-wow-delay="1.2s" data-wow-duration="0.5s">
                              <i class="fa fa-lightbulb-o wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                            Integridad.
                          </p>
                      </div>
                      <!-- <div class="valores col-12 col-md-6 col-xl-3" style="text-align: center" >                          
                          <p class="wow fadeInRight" data-wow-delay="1.4s" data-wow-duration="0.5s">
                              <i class="fa fa-balance-scale wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                            Justicia.
                          </p>
                      </div> -->
                      <div class="valores col-12 col-md-6 col-xl-3" style="text-align: center" >                          
                          <p class="wow fadeInRight" data-wow-delay="1.6s" data-wow-duration="0.5s">
                              <i class="fa fa-users wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                             Respeto.
                          </p>
                      </div>
                      <div class="valores col-12 col-md-6 col-xl-3" style="text-align: center" >                          
                          <p class="wow fadeInRight" data-wow-delay="1.8s" data-wow-duration="0.5s">
                            <i class="fa fa-clock-o wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                            Responsabilidad.
                          </p>
                      </div>
                      <!-- <div class="valores col-12 col-md-6 col-xl-3" style="text-align: center" >                          
                          <p class="wow fadeInRight" data-wow-delay="2.0s" data-wow-duration="0.5s">
                            <i class="fa fa-hand-rock-o wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                            Dignidad.
                          </p>
                      </div> -->
                      <div class="valores col-12 col-md-6 col-xl-3" style="text-align: center" >                          
                          <p class="wow fadeInRight" data-wow-delay="2.0s" data-wow-duration="0.5s">
                            <i class="fa fa-exclamation-triangle wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                            Prudencia.
                          </p>
                      </div>
                      <!-- <div class="valores col-12 col-md-6 col-xl-3" style="text-align: center" >                          
                        <p class="wow fadeInRight" data-wow-delay="2.0s" data-wow-duration="0.5s">
                          <i class="fa fa-street-view wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                          Empatía.
                        </p>
                    </div> -->
                    <!-- <div class="valores col-12 col-md-6 col-xl-3" style="text-align: center" >                          
                      <p class="wow fadeInRight" data-wow-delay="2.0s" data-wow-duration="0.5s">
                        <i class="fa fa-search wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                        Transparecia.
                      </p>
                  </div> -->

                    </div>

                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section><!-- #about -->