
  <!--==========================
    Intro Section
  ============================-->
  <app-home-menu></app-home-menu>

  <app-comunicado></app-comunicado>  

    
  <!-- #intro -->
  <!--==========================
    Intro Section
  ============================-->

  <app-home-slide></app-home-slide>  

    
  <!-- #intro -->

  <main id="main">

     <!--==========================
      Product Featuress Section
    ============================-->
    <app-home-productos></app-home-productos>

    <app-home-servicios></app-home-servicios>
  </main>